<h3>Here is all of the information for this contact:</h3>

<!-- <ul>
  <% @contact.info().each() do |contact| %>
    <li><a href="//<%= car.id() %>"><%= car.make() %> <%= car.model() %> <%= car.year() %></a></li>
  <% end %>
</ul>

<a href="/dealerships/<%= @dealership.id%>/vehicles/new">Add a new vehicle</a> -->
<a href="/">Return to Main Page</a>
